@inject IJSRuntime jsRuntime;

<div id="@PortfolioItemElId" style="padding: 6rem 0; font-size:.75rem;">
    <div class="container text-white clearfix" style="position:relative;">
        <div class="col-md-6 float-md-start mx-4" style="position:relative;">
            <div style="width:100%; height:100%; overflow:hidden;">
                <div id="PortfolioItemVideoDiv" onclick="@OnFullecreenBtnPressed" class="d-flex flex-column align-items-center justify-content-center" style="overflow:hidden; width:100%; height:100%;">
                    <div style="width:100%; cursor: pointer;">
                        <div id="@DailyMotionPlayerElId"/> @* player placeholder for js to replace *@
                    </div>
                    <div id="PortfolioItemVideoDivDarkOverlay" />
                    <svg id="FullscreenIcon" fill="currentColor" class="bi bi-arrows-fullscreen" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M5.828 10.172a.5.5 0 0 0-.707 0l-4.096 4.096V11.5a.5.5 0 0 0-1 0v3.975a.5.5 0 0 0 .5.5H4.5a.5.5 0 0 0 0-1H1.732l4.096-4.096a.5.5 0 0 0 0-.707zm4.344 0a.5.5 0 0 1 .707 0l4.096 4.096V11.5a.5.5 0 1 1 1 0v3.975a.5.5 0 0 1-.5.5H11.5a.5.5 0 0 1 0-1h2.768l-4.096-4.096a.5.5 0 0 1 0-.707zm0-4.344a.5.5 0 0 0 .707 0l4.096-4.096V4.5a.5.5 0 1 0 1 0V.525a.5.5 0 0 0-.5-.5H11.5a.5.5 0 0 0 0 1h2.768l-4.096 4.096a.5.5 0 0 0 0 .707zm-4.344 0a.5.5 0 0 1-.707 0L1.025 1.732V4.5a.5.5 0 0 1-1 0V.525a.5.5 0 0 1 .5-.5H4.5a.5.5 0 0 1 0 1H1.732l4.096 4.096a.5.5 0 0 1 0 .707z"></path>
                    </svg>
                </div>
            </div>
            <p style="color:#a1a1a1; font-size: x-small; padding-top:5px;">@VideoSubtext</p>
        </div>

        <span class="text-white portfolio-item-title">@TitleText</span>
        <span style="font-style:italic;">
            <img src="images/github_small.png" style="width:1rem; margin: 0 .5rem;" /><a href="@GithubLink" target="_blank" rel="noopener noreferrer">Github</a>
        </span>
        <br>
        <small style="font-style:italic;">
            Team Size: @TeamSize | Duration: @Duration | Project Status: @ProjectStatus
        </small>
        <hr>
        <div data-sal-wrapper="fade" style="padding: 0 10px;">
            @Description
        </div>

    </div>
    <br>
    <div data-sal-wrapper="fade" class="container text-white">
        <b>Contributions:</b>
        <p>
            @Contributions
        </p>
    </div>
</div>

@code 
{
    private IJSObjectReference jsObjRef;    // js interactor

    [Parameter]
    public string TitleText { get; set; }
    [Parameter]
    public string GithubLink { get; set; }
    [Parameter]
    public string TeamSize { get; set; }
    [Parameter]
    public string Duration { get; set; }
    [Parameter]
    public string ProjectStatus{ get; set; }
    [Parameter]
    public RenderFragment Contributions { get; set; }
    [Parameter]
    public RenderFragment Description { get; set; }
    [Parameter]
    public RenderFragment VideoSubtext { get; set; }
    [Parameter]
    public string DailyMotionPlayerElId { get; set; }
    [Parameter]
    public string PortfolioItemElId { get; set; }
    [Parameter]
    public string DailymotionVideoId { get; set; }
    [Parameter]
    public string DailymotionQuality { get; set; }

    [Parameter]
    public EventCallback<PortfolioItem> OnFullscreenBtnPressed { get; set; }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            jsObjRef = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./Shared/Components/Portfolio/PortfolioItem.razor.js");
            await jsObjRef.InvokeVoidAsync("OnAfterRenderAsync", PortfolioItemElId, DailyMotionPlayerElId, DailymotionVideoId, DailymotionQuality);
        }
    }

    async private void OnFullecreenBtnPressed()
    {
        await jsObjRef.InvokeVoidAsync("OnFullecreenBtnPressed", DailyMotionPlayerElId);
    }
}
